body, html{
  padding: 0;
  margin: 0;
}

body{
  background: hsl(0, 0%, 80%);
  font-family: "Lucida Sans", "Helvetica", sans-serif;
}

a {
  color: #06B3EE;
  text-decoration: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

#b{
  position: fixed;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/stripe.png);
  background-repeat: repeat, no-repeat;
  background-size: 7px 7px, cover;
  background-position: 0 0, fixed;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s;
}

#identity{
  margin: 0;
}

#main-header{
  margin-bottom: 20px;
}

#identity{
  width: 149px;
  height: 190px;
  float: left;
  margin-top:15px;
  margin-right: 30px;
  background-color:transparent;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

#identity a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(/assets/images/blog-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -99999px;
}


#tag-cloud, .quantifind-home{
  margin-top: 30px;
}
#tag-cloud{
  max-width: 590px;
  float: left;
}

a.quantifind-home {
	float:right;
	background-color: #000;
}

#tag-cloud a, .quantifind-home{
  font-size: 9px;
  background-color: #44A6C1;
  border-top: 1px solid #939598;
  color: white;
  padding: 2px 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#tag-cloud a.home{
  border-top-color: #414042;
  background-color: #666666;
}

.type-title{
  font-family: "proxima-nova", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
  background: white;
  padding: 10px;
  border-top: 1px solid #A7A9AC;
  margin-bottom: 25px;
}

.type-title .type{
  font-size: 80%;
  color: hsl(0, 0%, 40%);
  margin-right: 10px;
  display: inline-block;
}

.container{
  width: 100%;
  max-width: 900px;
  background: hsla(0, 100%, 100%, 0.7);
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  padding-top: 0px;
}


.container aside{
  display: block;
  float: right;
  width: 25%;
  margin-top: 10px;
}

.container article aside{
  display: block;
  float: none;
  width: 160px;
  margin-top: 10px;
  position: absolute;
}

.aside-section{
  font-size: 14px;
  line-height: 1.75;
}

.section-title{
  color: hsl(0, 0%, 20%);
  padding-left: 5px;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.section-body{
  color: hsl(0, 0%, 45%);
  padding: 5px;
}

.content{
  position: relative;
  width: 100%;
}

.content article{
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-bottom: 50px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #A7A9AC;
}

.content article section{
  margin-left: 160px;
}

.content article .body-text pre{
  max-width: none;
  font-size: 11px;
  line-height: 1.75;
  background: #F1F2F2;
  /* border: 1px solid hsl(0, 0%, 80%); */
  border-radius: 3px;
  padding: 5px 10px;
  overflow: scroll;
  overflow-y: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: "Courier New", "Consolas", monospace;
}

.post-date{
  display: block;
  font-size: 11px;
  color: #999999;
  position: relative;
}
/*
.post-date::after{
  content: '';
  height: 1px;
  width: 10px;
  background: hsl(0, 0%, 80%);
  display: block;
  position: absolute;
  bottom: -15px;
}*/

.post-author{
  display: inline-block;
  margin-top: .5em;
  font-size: 12px;
}
.post-author a{
  color: #888888;
}

.post-title{
  font-family: "proxima-nova", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  position: relative;
  font-size: 30px;
  margin: 0;
  margin-top: 0em;
  margin-bottom: 0em;
}


.post-title a{
  color: black;
  text-decoration: none;
}

.content .body-text{
  margin-top: 1em;
  line-height: 1.8;
  font-size: 13px;
  color: #888888;
}

.content .body-text .more{
  font-size: 9px;
}

.content .body-text h1,
.content .body-text h2,
.content .body-text h3,
.content .body-text h4,
.content .body-text h5{
  color: black;
  font-weight: bold;
  margin: 0;
  font-size: 13px;
}
/*
.content .body-text h3{ font-size: 1.75em; }
.content .body-text h4{ font-size: 1.5em; }
.content .body-text h5{ font-size: 1.25em; }*/

.content .body-text *{
  width: 100%;
  max-width: 570px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.content .body-text em{
  color: #000;
}

.content .body-text li{
  margin-bottom: .5em;
}

.content .body-text hr{
  width: 100%;
  height: 1px;
  border: none;
  background: hsl(0, 0%, 94%);
  background: #d1d3d4;
}

.content .body-text blockquote{
  font-style: italic;
  margin-left: 0em;
}

.archive-list{
  list-style: none;
  padding: 0;
  font-size: 12px;
}

/* For modern browsers */
.cf::before,
.cf::after{
    content: "";
    display: table;
}

.cf::after{
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf{
    zoom:1;
}

table{
  width: 100%;
}
table:first-child th{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: none;
	
}

table:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	
}

table:last-child td:last-child{
	border-bottom-right-radius: 4px;
}
table tr th{
	border-bottom: 	1px solid #d1d5d8;
  font-weight: normal;
  text-transform: uppercase;
	/* border-top: 1px solid #d1d5d8; */
	
}
table tr:first-child{
	border-top:none;
}
table table tr th{
	border-top: 1px solid #d1d5d8;
}
table tr td:first-child{
	border-left: none;
}
table th{
	height: 25px !important;
	padding: 2px 0px 2px 6px;
	
	/* background-color: #F1F2F2;*/
	font-size: 12px;
	
}

table tr{
  text-align: left;
}

/*nth childs of all tds :nth-child(2n+1)*/
table tr td{
	
	/*border-left: 1px dotted #d9d9d9;*/
	border-top: 1px dotted #d9d9d9;
	
}



table tr td{
	padding: 3px;
	vertical-align: top !important;
}


/*icon*/
table tr td span{
	position: absolute;
	width: 18px;
	height: 18px;
	margin-top: 2px;
	
}
/*text*/		

table tr td p.matrix_p{
	/*width: 260px !important;*/
	
	margin: 1px 0 0 24px  ;
	*margin:0px;
	*display:inline-block;
	*padding-left: 23px;
	/*word-break: break-all;*/
}

table tr td p.affected_p{
	margin: 0px 5px 0px 23px;
	/*width: 250px;*/
	font-size: 10px;
	line-height: 15px;
	color: #bbb;	
}


