---
layout: default
external:
---

  <article id="post">
    <header>
        <span class='post-date'>{{ page.date | date: "%B %e, %Y" }}</span> 
        <h1 class="post-title">
        <a href="{{ page.url }}">{{ page.title }}</a>
        </h1>
    </header>
    <div class="body-text">
      {{ content }}
    </div>
    <!--<h4>Tags:</h4>-->
    <ul id="post_tags">
    {% for tag in page.tags %}
      <li><a class="tag" href="/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
    <br />
    {% include comments.html %}
  </article>
