---
layout: default
external:
---

  <article id="post">

    <aside>
        <span class='post-date'>{{ page.date | date: "%B %e, %Y" }}</span> 
    </aside>

    <section>
        <header>
            <h3 class='post-title'>
              <a href="{{ page.url }}">{{ page.title }}</a>
            </h3>
            <span class="post-author">{{ page.author | author_link }}</span>
        </header>
        <div class="body-text">
          {{ content }}
        </div>
        <!-- {% include comments.html %}-->
    </section>

  </article>
